@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Mulish:wght@800&family=Poppins:wght@400;700&family=Sofia+Sans:wght@300;400;800&family=Ubuntu:wght@700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hero_container{
    display: flex;
    padding: 2.5rem;
    /* border: 2px solid black; */
}
.left_sidehero{
    width: 50%;

}
.right_sidehero{
    width: 50%;
}
.hero_text1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 2.6rem;
    line-height: 3.625rem;
    letter-spacing: -0.015em;
    width: 90%;
    color: rgb(16, 15, 15);
}
.hero_text2{
    font-family: 'Work Sans', sans-serif;
    color: #596080;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.QRillustrate{
    max-width: 100%;
    padding-right: 6rem;
    padding-left: 6rem;
}
.knowmore{
    padding: 0.75rem 1.44rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 12px;
    font-weight: 500;
    color: #fff;
    background-color: #3543ff;
    border: 0px;
    box-shadow: none;
    transition: all 0.5s;
}
.knowmore span{
    /* background-color: #0092e4; */
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.knowmore span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .knowmore:hover span {
    padding-right: 25px;
  }
  
  .knowmore:hover span:after {
    opacity: 1;
    right: 0;
  }